.Menu4{

}

.Menu4Content{
    width: 100%;
}

.Menu4Content>li{
    width: 10% !important;
    float: left;
    box-shadow: 0 0 0 1px #d4d4d5 !important;
}

.Menu4Content>li>a{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 120px;
    width: 100px;
    justify-content: center !important;
    display: flex !important;
}

.Menu4Content>li>a>span{
    line-height: 20px;
    background-color: #e7e7e7 !important;
    color: #868686;
}

.Menu4Content>li>a>img{
    height: 40px;
    opacity: 0.78;
}