.Body{
    height: 483px;
}

.Menu1{
    float: left;
    background-color: #fff;
    width: 23%;
    font-size: 12px;
    color: #606060;
    position: fixed;
}


.Menu1 > ul> li > a{
    display: block;
    padding: 16px 0px;
    font-size: 13px;
    color: #606060;
    border-bottom: solid 1px #e5e5e5;
    position: relative;
    background-color: #fff;
    float: left;
    width: 100%;
}

.Menu1>ul>li>a i{
    color: #215ee2;
    margin-right: 5px;
    text-align: center;
    font-size: 16px;
}

.tabcontent > .tabpane {
    display: none;
}

.active {
    display: block;
}
  
.tabcontent > .active {
    display: block;
}

.Menu1>li>a:hover{
    background-color: #f1f1f1;
    color: #000;
    border-left: 3px solid blue;
}

.Content{
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #f8f8f8;
    color: #000;
    float: left;
    padding: 0px 20px 0px 0px;
    width: 77%;
}

.Text{
    width: 100%;
}

.cl{
    clear: both;
}
