.NavigationItem{
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: auto;
    align-items: center;
    line-height: 16px;
}

.NavigationItem > a{
    padding: 18px 16px;
    line-height: 8px;
    text-align: right;
    padding-left: 12px !important;
    padding-right: 12px !important;
    display: block;
    color: #fff;
    text-decoration: none;
    position: relative;
    margin: 0 10px;
}

.NavigationItem>a>span{
    display: block;
    font-size: 11px;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    line-height: 4px;
    color: #fff;
    opacity: 0.78;
}

.NavigationItemSpan{
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    opacity: 1 !important;
}

/* .NavigationItem a{
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    height: 100%;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
} */

.icon{
    color: #fff;
    padding-left: 8px;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background-color: inherit;
    color: white;
    cursor: pointer;
}

.NavigationItem >a>span{
    font-family: FontAwesome;
    font-size: 14px;
    content: \f107;
}

.bold{
    font-weight: bold;
}

.dropdownContent{
    top: 60px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba((0), 0, 0, 0.2);
    left: 30px;
    right: 30px;
    text-align: left;
    border: 1px solid #f1f1;
    transition: all .3s ease;
    box-shadow: 0px 0px 0px 1px #d4d4d5 !important;
}

.NavigationItem:hover .dropdownContent{
    display: block;
}